## localhost
localhost_tomcat=/home/yang/fast/programs/apache-tomcat-9.0.0.M26
localhost_logfile=/home/yang/fast/log/tomcat.log

## gd212
gd212_modulequality_tomcat=/home/data/application/modulequality-tomcat-9.0.0.M17
gd212_modulequality_logfile=$gd212_modulequality_tomcat/bin/nohup.out

gd212_baseproject_tomcat=/home/data/application/baseproject-tomcat-9.0.0.M17
gd212_baseproject_logfile=$gd212_baseproject_tomcat/bin/nohup.out


## 将项目文件分为跟新需要重启和不需要重启两类
## modulequality
static_modulequality=admin:index.html:static:web:WEB-INF/jsps
dynamic_modulequality=WEB-INF/classes/com
static_resource_modulequality=$WORKSPACE_BASEPATH/eclipse/modulequality/src/main/webapp
dynamic_resource_modulequality=$WORKSPACE_BASEPATH/eclipse/modulequality/target/classes/com

## baseproject
static_baseproject=index.html:jianshe.html:noRight.html:static:WEB-INF/jsps
dynamic_baseproject=WEB-INF/classes/com
static_resource_baseproject=$WORKSPACE_BASEPATH/eclipse/baseproject/src/main/webapp
dynamic_resource_baseproject=$WORKSPACE_BASEPATH/eclipse/baseproject/target/classes/com
